<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Head -->
    <th:block th:fragment="headFragment">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <!-- meta -->
            <meta property="og:url" content="http://jaewon-study.com/">
            <meta property="og:title" content="Jaewon Study Site">
            <meta property="og:type" content="website">
            <meta property="og:image" content="http://jaewon-study.com/images/index/jaewon/previewHjw.png">
            <meta property="og:description" content="열심히 공부하고, 기록하고, 적용해보자!">

            <title>Jaewon Study Site</title>

            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
            <link th:href="@{/bootstrap/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
            <link th:href="@{/bootstrap/css/sb-admin-2.min.css}" rel="stylesheet" />

        </head>
    </th:block>
</html>