.middle-div{
    border-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color : black;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    font-weight: bolder;
 }

.middle-div ul{
    margin-left: 15%;
    margin-right: 15%;
}